
.settings {
    display: block;
    text-shadow: #94daa7;
   
  }
  
  #paint{
      top: 10%;
      border: 2px solid black ; 
      margin-left: auto; 
      margin-right: auto; 
      display: block; 
      background : white
  }
  

  
  .button {
   
   
    background-color: #6dc283;
    color:azure;
    font-family: 'Courier New', Courier, monospace;
    border: 1px;
    border-color: #94daa7;
   margin-top: 15px;
  
  

    margin-left:8px; 
    margin-right: auto;
    font-size: 30px;
  }

  /* .black{
      background-image: url("../hoppy/black-square.png");
      height: 2 em;
      width: 2 em;

  } */
  
  .button:hover {
    background-color: #99cf8c;
  }
  
  .text {
      text-align: left;
  }
  
  .img {


    width: 35%;
  }